.carousel{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
}
.carousel-inner{
    width: 80%;
}
.card-img-top{
    width: 50%;
}
.card{
    border: none;
    background-color: transparent;
}
.card-body{
    width: 70%;
    background-color: white;
    margin-top: 12px;
    border-radius: 5px;
    box-shadow: #B37BA4 5px 5px 20px;
}