.card{
    align-items: start;
    height: 100%;
    overflow:auto;
    box-shadow: #B37BA4 5px 5px 20px;
}
img{
    height: 60%;
}
.col{
    margin: 10px;
}
.jumbocontainer{
    margin-left: 12%;
}
.card-body{
    width: 100%;
}
